<!-- Josh Jansen
     Josh Cantie
     CS340 Project Step 4 -->

<!-- Citation for the following code                 -->
<!-- Date: 11/14/2023                                -->
<!-- Copied from Node.js starter guide, Step 3       -->
<!-- Copied code for main layout view, adapted to    -->
<!--   fit our pages (addition of navbar)            -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars) -->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="icon" href="images/favicon.ico?v=1.1">
</head>
<body>
    
    {{{body}}}

    <div class="reset-div">
        <a class="reset-link" href="/reset-db">Reset Database</a>
    </div>

</body>
</html>