<!-- Josh Jansen
     Josh Cantie -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <title>Space Academy</title>
</head>
<body>

    <!-- Nav bar-->
    <nav>
        <a href="/" class="home-link">Home</a>
        <a href="/students">Students</a>
        <a href="/courses">Courses</a>
        <a href="/courseenrollments">CourseEnrollments</a>
        <a href="/professors">Professors</a>
        <a href="/professorassignments">ProfessorAssignments</a>
        <a href="/departments">Departments</a>
    </nav>
    
    <br>

    <!-- Header info -->
    <div class="header-info">
        <h1>Space Academy Database</h1>
        <p style="font-size: 1.25em;">Explore the different tables of the database by clicking the links on the navigation above!</p>
    </div>

    <!-- List that describes each table -->
    <ul class="desc-list">
        <li>Departments - Create, read, update or delete the departments at Space Academy.</li>
        <li>Students - Create, read, update, or delete the students at Space Academy.</li>
        <li>Courses - Create, read, update, or delete the courses at Space Academy.</li>
        <li>Professors - Create, read, update, or delete the professors at Space Academy.</li>
        <li>CourseEnrollments - Create, read, update, or delete the course enrollment records at Space Academy.</li>
        <li>ProfessorAssignments - Create, read, update, or delete the professor assignments at Space Academy.</li>
    </ul>
    
</body>
</html>